$black: #000;
$dark-gray: #253640;
$gray: #647882;
$accent-gray: #89969f;
$light-gray: #eaedef;
$white: #fff;
$teal: #008673;
$accent-teal: #01a78f;
$light-teal: #b2f1e8;
$dark-blue: #004379;
$blue: #0070ec;
$accent-blue: #1a98ff;
$light-blue: #c2e7ff;
$dark-red: #971922;
$red: #e71123;
$light-red: #fed9db;
$green: #008934;
$accent-green: #03ab00;
$light-green: #b9ecac;
$decorative-yellow: #ffc700;
$light-yellow: #fff0bc;
