@use 'styles/colors.module' as *;
@use 'styles/typographies';

.headerContainer {
  width: 100%;
  background-color: $light-gray;
  border-bottom: 1px solid $dark-gray;
}

.navContainer {
  display: flex;
  justify-content: space-between;
}

.headerLogo {
  padding: 10px;
}

.headerLinkContainer {
  padding: 10px;
}
