@use 'styles/colors.module' as *;
@use 'styles/typographies';

.headerContainer {
  width: 100%;
  background-color: $light-gray;
  border-bottom: 1px solid $dark-gray;
}

.navContainer {
  display: flex;
  justify-content: space-between;
  height: 40px;
}

.headerLogo {
  padding: 5px 10px;
}

.headerLogoImage {
  height: 30px;
}

.headerLinkContainer {
  padding: 10px;
}
