.headerContainer {
  width: 100%;
  background-color: lightgray;
}

.navContainer {
  display: flex;
  justify-content: space-between;
}

.headerLogo {
  padding: 10px;
}

.headerLinkContainer {
  padding: 10px;
}
