@use 'styles/colors.module' as *;

.container {
  position: fixed;
  display: flex;
  inset: 0;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.background {
  background: rgb(0 0 0 / 40%);
  position: absolute;
  inset: 0;
  z-index: 1;
}

.modal {
  background-color: $white;
  width: 80%;
  z-index: 2;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 10px 10px 5px 0 rgba(0, 0, 0, 0.25);
}

.header {
  display: flex;
  justify-content: space-between;
}

.title {}

.body {}

.socialLogin {
  background-color: $light-gray;
  padding: 10px;
  border-radius: 10px;
}

.socialLoginLink {
  display: flex;
  align-items: center;
  gap: 10px;
}

.socialLoginIcon {
  width: 32px;
  height: 32px;
}

.socialLoginText {}
